/* Stil for spilleren (Pac-Man) */
#dodger {
  background-image: url(img/pacman.png); /* Sætter Pac-Man-billedet som baggrund */
  background-size: cover; /* Sikrer, at billedet fylder hele elementet */
  height: 40px; /* Sætter højden på Pac-Man */
  width: 40px; /* Sætter bredden på Pac-Man */
  position: absolute; /* Tillader fri placering inden for #game */
}

/* Stil for spilleområdet */
#game {
  background-color: #111; /* Mørk baggrund for at ligne en arkadeskærm */
  height: 400px; /* Sætter højden på spilområdet */
  width: 400px; /* Sætter bredden på spilområdet */
  margin: 0 auto; /* Centrerer spilområdet på siden */
  overflow: hidden; /* Forhindrer elementer i at bevæge sig uden for rammen */
  position: relative; /* Gør det muligt at placere elementer absolut inden for området */
  text-align: center; /* Centrerer indholdet horisontalt */
}

/* Stil for startknappen */
#start {
  color: white; /* Hvid tekstfarve */
  font-size: 4rem; /* Stor skriftstørrelse */
  position: relative; /* Bevarer sin placering i dokumentflowet */
  text-decoration: none; /* Fjerner understregning fra teksten */
  top: 4rem; /* Flytter knappen lidt ned */
}

/* Stil for stenene (forhindringer i spillet) */
.rock {
  width: 20px; /* Sætter stenens bredde */
  height: 20px; /* Sætter stenens højde */
  background: tan; /* Lysebrun farve til at ligne en sten */
  position: absolute; /* Tillader fri placering inden for #game */
}

/* Dekoration af stenen for at give den en 3D-effekt */
.rock:before {
  content: ""; /* Pseudo-element for den øverste skygge */
  border-bottom: 6px solid tan; /* Nederste kantfarve */
  border-left: 6px solid #111; /* Venstre skygge */
  border-right: 6px solid #111; /* Højre skygge */
  height: 0; /* Ingen højde, da det kun er en kant */
  left: 0; /* Placeres i venstre hjørne af stenen */
  position: absolute; /* Placering relativt til .rock */
  top: 0; /* Placeres øverst */
  width: 9px; /* Bredden af pseudo-elementet */
}

.rock:after {
  content: ""; /* Pseudo-element for den nederste skygge */
  border-left: 6px solid #111; /* Venstre skygge */
  border-right: 6px solid #111; /* Højre skygge */
  border-top: 6px solid tan; /* Øverste kantfarve */
  bottom: 0; /* Placeres nederst */
  height: 0; /* Ingen højde, da det kun er en kant */
  left: 0; /* Placeres i venstre hjørne af stenen */
  position: absolute; /* Placering relativt til .rock */
  width: 9px; /* Bredden af pseudo-elementet */
}